{% extends 'shop/base.html' %}
{% load static %}
{% block content %}
<section class="cartAndBuy">
    <table width="60%" height=200 bordercolor="white" 
    cellspacing="5" class="cart">
        <thead>
            <tr>
                <th>상품 정보</th>
                <th>사이즈</th>
                <th>판매가</th>
                <th>수량</th>
                <th>배송비</th>
                <th>합계</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            {% for cartItem in cartItems %}
                <tr>
                    <td><a href="{% url 'detail' cartItem.num1 cartItem.num2 %}"
                        class="name">
                        {{ cartItem.name }}</a></td>
                    <td>{{ cartItem.size }}</td>
                    <td>{{ cartItem.price }}</td>
                    <td>{{ cartItem.count }}</td>
                    <td>W2500</td>
                    <td>W{{ cartItem.total_price }}</td>
                    <td><a href="{% url 'cartDelete' name=cartItem.name size=cartItem.size %}">
                        <button class="delete">delete</button>
                    </a></td>
                </tr>
            {% endfor %}
                <tr>
                    <td colspan="7" class="total">
                        상품구매금액 W{{ total_price_sum }}  +  배송비 W2500  =  합계 W{{ total_price_sum | add:2500 }}
                    </td>
                </tr>
        </tbody>
    </table>   
    
</section>

<section class="buy">
    <div>
        <h3>주문정보</h3>
        <form action="{% url 'payCart' %}" method="POST">
            {% csrf_token %}
            <p>아이디 : {{ user.username}}</p>
            <p>이메일 : {{user.email}}</p>
            <p>주소 : {{ address }}</p>
            <label for="name">이름 : </label>
            <input type="text" id="name" name="customerName"><br>
            <label for="telephone"> 휴대전화 : 010 </label>
            <input type="text" id="telephone" placeholder="ex) 11112222"  name="customerTel"><br>
            <input type="submit" value="결제하기" id="pay">
        </form>
    </div>
</section>


{% endblock %}